@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.container_panel footer, #tutorial .containerTutorial, .header_container .nav_gob button, .container_panel header h3, #tutorial, #panel_show {
  display: flex;
  justify-content: center;
  align-items: center; }

.container_panel footer, #tutorial .containerTutorial {
  flex-direction: column; }

.header_container .nav_gob button, .container_panel header h3, #tutorial {
  flex-direction: row; }

html body, .contenido_app, .header_container .nav_gob button, .header_container .nav_map div h1, .header_container .nav_map div h2, .header_container .nav_map div .scale_graphic svg, #panel_show, .container_panel footer aside, .tooltip, .tooltip .contentTooltip section, .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl, #tutorial, .tooltip .contentTooltip section article {
  padding: 0px; }

html body, .contenido_app, .header_container .nav_gob button, .header_container .nav_map div h1, .header_container .nav_map div h2, .header_container .nav_map div .scale_graphic svg, #panel_show, .container_panel footer aside, .tooltip, .tooltip .contentTooltip section, .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl, #tutorial, .header_container .nav_gob, .header_container .nav_map, .container_panel, .container_panel header h3, .tooltip .contentTooltip, .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl input[type="text"], .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin: 0px; }

.header_container .nav_gob, .header_container .nav_map {
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px; }
  @media (min-width: 600px) {
    .header_container .nav_gob, .header_container .nav_map {
      padding: 10px 40px; } }

/* Generales */
html {
  font-size: 10px;
  font-family: 'Roboto', Arial; }
  @media (min-width: 415px) {
    html {
      font-size: 12px; } }
  @media (min-width: 600px) {
    html {
      font-size: 13px; } }
  @media (min-width: 900px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 15px; } }
  @media (min-width: 1400px) {
    html {
      font-size: 16px; } }

input:focus, button:focus {
  outline: none; }

a {
  text-decoration: none; }

sup {
  vertical-align: text-top;
  font-size: smaller; }

.contenido_app {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.header_container {
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 10; }
  .header_container .nav_gob {
    justify-content: space-between;
    z-index: 30; }
    .header_container .nav_gob svg {
      height: 35px; }
    .header_container .nav_gob button {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: white;
      border: 0px;
      cursor: pointer; }
      @media (min-width: 600px) {
        .header_container .nav_gob button {
          display: none; } }
      .header_container .nav_gob button svg {
        width: 15px;
        height: 15px; }
    .header_container .nav_gob a {
      display: none;
      color: #989898; }
      @media (min-width: 600px) {
        .header_container .nav_gob a {
          display: block; } }
      .header_container .nav_gob a:hover {
        color: black; }
  .header_container .nav_map {
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    display: none; }
    @media (min-width: 600px) {
      .header_container .nav_map {
        display: flex;
        flex-direction: row; } }
    .header_container .nav_map div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse; }
      @media (min-width: 600px) {
        .header_container .nav_map div {
          flex-direction: row; } }
      .header_container .nav_map div h1 {
        text-align: center;
        font-size: 2rem;
        color: #5D5D5D;
        font-weight: 400; }
        @media (min-width: 600px) {
          .header_container .nav_map div h1 {
            text-align: left; } }
      .header_container .nav_map div h2 {
        border: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: silver;
        margin-left: 20px; }
        @media (min-width: 600px) {
          .header_container .nav_map div h2 {
            width: 120px;
            border-left: 1px solid silver;
            text-align: left;
            padding: 0px 10px; } }
      .header_container .nav_map div .scale_graphic svg {
        height: 40px;
        font-size: 12px;
        fill: #5D5D5D; }
    .header_container .nav_map a {
      display: block;
      padding: 10px;
      color: #989898; }
      @media (min-width: 600px) {
        .header_container .nav_map a {
          display: none; } }
      .header_container .nav_map a:hover {
        color: black; }

#map {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100vw; }

#panel_show {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 239px;
  top: 145px;
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid silver;
  border-radius: 0px 5px 0px 0px; }
  @media (min-width: 600px) {
    #panel_show {
      display: flex; } }
  #panel_show svg {
    width: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }

.container_panel {
  display: none;
  left: 40px;
  position: absolute;
  top: 184px;
  width: 237px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 0px;
  border: 1px solid silver;
  border-radius: 0px 0px 5px 5px; }
  @media (min-width: 600px) {
    .container_panel {
      display: block; } }
  .container_panel header h3 {
    padding: 0px 30px;
    font-size: 14px;
    color: #5D5D5D;
    font-weight: 400;
    text-align: center; }
  .container_panel article {
    text-align: center;
    margin: 10px 0px; }
    .container_panel article svg {
      height: 250px; }
      .container_panel article svg .prov {
        fill: white;
        stroke: #808285;
        stroke-width: 0.5; }
      .container_panel article svg .provhover:hover {
        stroke-width: 2;
        cursor: pointer; }
  .container_panel footer {
    border-top: 1px solid silver;
    padding: 10px 20px 0px 20px;
    text-align: center;
    font-size: 13px;
    color: #5D5D5D;
    font-weight: 400; }
    .container_panel footer aside {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 100px;
      margin-top: 5px; }
      .container_panel footer aside svg {
        width: 20px;
        fill: silver;
        cursor: pointer; }
        .container_panel footer aside svg:hover {
          fill: #5D5D5D; }

.tooltip {
  transform: translate(299px, 372px);
  display: none;
  color: silver;
  position: relative;
  z-index: 50; }
  .tooltip #palito_tool {
    position: absolute;
    width: 20px;
    top: 0;
    left: 0; }
  .tooltip .contentTooltip {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 5px; }
    .tooltip .contentTooltip section {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      font-size: 12px; }
      .tooltip .contentTooltip section article {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row; }
        .tooltip .contentTooltip section article:last-child {
          margin-bottom: 0px; }
        .tooltip .contentTooltip section article svg {
          width: 12px;
          height: 12px;
          margin-right: 5px; }

.mapboxgl-ctrl-top-left {
  top: 56px;
  left: 0px;
  width: 100%;
  padding: 20px 20px 100% 20px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  @media (min-width: 600px) {
    .mapboxgl-ctrl-top-left {
      left: 20px;
      width: 240px;
      top: 125px; } }
  .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    background-color: transparent;
    border: none;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    box-shadow: none; }
    .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl input[type="text"] {
      width: 100%;
      border-radius: 5px;
      border: 1px solid silver;
      background: white;
      padding: 10px 10px 10px 40px;
      border-right: none;
      font-size: 14px; }
      @media (min-width: 600px) {
        .mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl input[type="text"] {
          border-radius: 5px 0px 0px 0px; } }

.mapboxgl-ctrl-bottom-left {
  bottom: 10px;
  right: 50px;
  left: initial; }

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  /* float: left; */
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* left: 0px; */
  /* right: 0px; */ }

#tutorial {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999; }
  #tutorial .containerTutorial {
    position: relative;
    width: 75%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    text-align: center; }
    @media (min-width: 600px) {
      #tutorial .containerTutorial {
        width: 50%; } }
    #tutorial .containerTutorial .checkTutorial {
      width: 100%;
      text-align: left;
      margin-top: 20px; }
    #tutorial .containerTutorial .close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      width: 25px;
      height: 25px; }
      #tutorial .containerTutorial .close:hover {
        background-color: silver;
        border-radius: 25px; }
    #tutorial .containerTutorial .visualizacion {
      cursor: pointer;
      padding: 5px 20px;
      border-radius: 5px;
      border: 1px solid gray;
      background-color: silver; }
      #tutorial .containerTutorial .visualizacion:hover {
        background-color: gray;
        color: white; }

.areaIconSvg {
  fill: none;
  stroke: #FFFFFF;
  stroke-miterlimit: 10; }

.textWhite {
  color: white;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
