// Tipografías
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// Variables
$text_color: #5D5D5D;
$icon_color: silver;

// Extends
%display_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex_colum {
  @extend %display_flex;
  flex-direction: column;
}
%flex_row {
  @extend %display_flex;
  flex-direction: row;
}
%none_pad {
  padding: 0px;
}
%none_mar {
  margin: 0px;
}
%none_pad_mar {
  @extend %none_pad;
  @extend %none_mar;
}
%header {
  @extend %none_mar;
  @media(min-width:600px) {
    padding: 10px 40px;
  }
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
}
%icon {
  width: 1rem;
  margin-right: 2px;
}

/* Generales */
html {
  @media(min-width:415px) {
    font-size: 12px;
  }
  @media(min-width:600px) {
    font-size: 13px;
  }
  @media(min-width:900px) {
    font-size: 14px;
  }
  @media(min-width:1200px) {
    font-size: 15px;
  }
  @media(min-width:1400px) {
    font-size: 16px;
  }
  font-size: 10px;
  font-family: 'Roboto', Arial;
  body {
    @extend %none_pad_mar;
  }
}

input:focus, button:focus {
    outline: none;
}
a {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
  font-size: smaller;
}

// App
.contenido_app {
  @extend %none_pad_mar;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.header_container {
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 10;
  .nav_gob {
    @extend %header;
    justify-content: space-between;
    z-index: 30;
    svg {
      height: 35px;
    }
    button {
      @extend %flex_row;
      @extend %none_pad_mar;
      @media(min-width:600px) {
        display: none;
      }
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: white;
      border: 0px;
      cursor: pointer;
      svg {
        width: 15px;
        height: 15px;
      }
    }
    a {
      @media(min-width:600px) {
        display: block;
      }
      display: none;
      color: #989898;
      &:hover {
        color: black;
      }
    }
  }

  .nav_map {
    @extend %header;
    @media(min-width:600px) {
      display: flex;
      flex-direction: row;
    }
    flex-direction: column;
    justify-content: space-between;
    z-index: 20;
    display: none;
    div {
      @media(min-width:600px) {
        flex-direction: row;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      h1 {
        @extend %none_pad_mar;
        @media(min-width:600px) {
          text-align: left;
        }
        text-align: center;
        font-size: 2rem;
        color: $text_color;
        font-weight: 400;
      }
      h2 {
        @extend %none_pad_mar;
        @media(min-width:600px) {
          width: 120px;
          border-left: 1px solid silver;
          text-align: left;
          padding: 0px 10px;
        }
        border: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: silver;
        margin-left: 20px;
      }
      .scale_graphic svg {
        @extend %none_pad_mar;
        height: 40px;
        font-size: 12px;
        fill: $text_color;
      }
    }
    a {
      @media(min-width:600px) {
        display: none;
      }
      display: block;
      padding: 10px;
      color: #989898;
      &:hover {
        color: black;
      }
    }
  }
}
#map {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100vw;
}
#panel_show {
  @extend %none_pad_mar;
  @extend %display_flex;
  @media(min-width:600px) {
    display: flex;
  }
  cursor: pointer;
  display: none;
  position: absolute;
  left: 239px;
  top: 145px;
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid silver;
  border-radius: 0px 5px 0px 0px;
  svg {
    width: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
.container_panel {
  @extend %none_mar;
  @media(min-width:600px) {
    display: block;
  }
  display: none;
  left: 40px;
  position: absolute;
  top: 184px;
  width: 237px;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 10px 0px;
  border: 1px solid silver;
  border-radius: 0px 0px 5px 5px;
  header h3 {
    @extend %none_mar;
    @extend %flex_row;
    padding: 0px 30px;
    font-size: 14px;
    color: $text_color;
    font-weight: 400;
    text-align: center;
  }
  article {
    text-align: center;
    margin: 10px 0px;
    svg {
      height: 250px;
      .prov {
        fill: white;
        stroke: #808285;
        stroke-width: 0.5;
      }
      .provhover:hover {
        stroke-width: 2;
        cursor: pointer;
      }
    }
  }
  footer {
    @extend %flex_colum;
    border-top: 1px solid silver;
    padding: 10px 20px 0px 20px;
    text-align: center;
    font-size: 13px;
    color: $text_color;
    font-weight: 400;
    aside {
      @extend %none_pad_mar;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 100px;
      margin-top: 5px;
      svg {
        width: 20px;
        fill: silver;
        cursor: pointer;
        &:hover {
          fill: $text_color;
        }
      }
    }
  }
}
.tooltip {
    @extend %none_pad_mar;
    transform: translate(299px, 372px);
    display: none;
    color: $icon_color;
    position: relative;
    z-index: 50;
    #palito_tool {
      position: absolute;
      width: 20px;
      top: 0;
      left: 0;
    }
    .contentTooltip {
      @extend %none_mar;
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: black;
      padding: 10px;
      border-radius: 5px;
      section {
        @extend %none_pad_mar;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 12px;
        article {
          @extend %none_pad;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: row;
          &:last-child {
            margin-bottom: 0px;
          }
          svg {
            width: 12px;
            height: 12px;
            margin-right: 5px;
          }
        }
      }
    }
  }

// Buscador
.mapboxgl-ctrl-top-left {
  @extend %none_mar;
  @media(min-width:600px) {
    left: 20px;
    width: 240px;
    top: 125px;
  }
  top: 56px;
  left: 0px;
  width: 100%;
  padding: 20px 20px 100% 20px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    @extend %none_pad_mar;
    background-color: transparent;
    border: none;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    box-shadow: none;
    input[type="text"] {
      @extend %none_mar;
      @media(min-width:600px) {
        border-radius: 5px 0px 0px 0px;
      }
      width: 100%;
      border-radius: 5px;
      border: 1px solid silver;
      background: white;
      padding: 10px 10px 10px 40px;
      border-right: none;
      font-size: 14px;
    }
  }
}

// MapBox Escala
.mapboxgl-ctrl-bottom-left {
  bottom: 10px;
  right: 50px;
  left: initial;
}
.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  @extend %none_mar;
  /* float: left; */
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* left: 0px; */
  /* right: 0px; */
}

// Tutorial
#tutorial {
  @extend %none_pad_mar;
  @extend %flex_row;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  .containerTutorial {
    @extend %flex_colum;
    @media(min-width:600px){
      width: 50%;
    }
    position: relative;
    width: 75%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    .checkTutorial {
      width: 100%;
      text-align: left;
      margin-top: 20px;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      width: 25px;
      height: 25px;
      &:hover {
        background-color: silver;
        border-radius: 25px;
      }
    }
    .visualizacion {
      cursor: pointer;
      padding: 5px 20px;
      border-radius: 5px;
      border: 1px solid gray;
      background-color: silver;
      &:hover {
        background-color: gray;
        color: white;
      }
    }
  }
}

// SVG style
.areaIconSvg {
  fill: none;
	stroke: #FFFFFF;
	stroke-miterlimit: 10;
}
.textWhite {
  color: white;
  font-weight: bold;
}
// @media(min-width:415px){
// }
// @media(min-width:600px){
// }
// @media(min-width:900px){
// }
// @media(min-width:1200px){
// }
// @media(min-width:1400px){
// }
