// Tipografías
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// Variables
$text_color: #5D5D5D;

// Extends
%display_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex_colum {
  @extend %display_flex;
  flex-direction: column;
}
%flex_row {
  @extend %display_flex;
  flex-direction: row;
}
%none_pad {
  padding: 0px;
}
%none_mar {
  margin: 0px;
}
%none_pad_mar {
  @extend %none_pad;
  @extend %none_mar;
}
%header {
  @extend %none_mar;
  @media(min-width:600px) {
    padding: 10px 40px;
  }
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
}
%icon {
  width: 1rem;
  margin-right: 2px;
}
/* Generales */
html {
  @media(min-width:415px) {
    font-size: 12px;
  }
  @media(min-width:600px) {
    font-size: 13px;
  }
  @media(min-width:900px) {
    font-size: 14px;
  }
  @media(min-width:1200px) {
    font-size: 15px;
  }
  @media(min-width:1400px) {
    font-size: 16px;
  }
  font-size: 10px;
  font-family: 'Roboto', Arial;
  body {
    @extend %none_pad_mar;
  }
}

input:focus, button:focus {
    outline: none;
}
a, a:hover, a:focus {
    text-decoration: none;
    color: rgb(51, 51, 51);
}
sup {
  vertical-align: super;
  font-size: 0.9rem;
}

// App
.contenido_app {
  @extend %none_pad_mar;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.header_container {
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 10;
  .nav_gob {
    @extend %header;
    justify-content: flex-start;
    z-index: 30;
    svg {
      height: 35px;
    }
  }
  .nav_map {
    @extend %header;
    @media(min-width:600px) {
      display: flex;
    }
    justify-content: space-between;
    z-index: 20;
    display: none;
    div {
      @extend %flex_row;
      h1 {
        @extend %none_pad_mar;
        font-size: 1.5rem;
        color: $text_color;
      }
      .scale_graphic svg {
        @extend %none_pad_mar;
        height: 25px;
        font-size: 12px;
        fill: $text_color;
      }
    }
  }
}
#map {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100vw;
  div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    margin: 0px;
    padding: 0px;
    top: 20px;
    left: 20px;
    box-shadow: none;
    div button {
      display: none;
    }
    input[type="text"] {
      width: 200px;
      border-radius: 5px 0px 0px 0px;
      border: 1px solid silver;
      background: white;
      padding: 10px 40px 10px 10px;
    }
  }
}
#panel_show {
  @media(min-width:600px) {
    left: 239px;
  }
  position: absolute;
  top: 122px;
  left: 219px;
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid silver;
  margin: 0px;
  padding: 0px;
  border-radius: 0px 5px 0px 0px;
  svg {
    width: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
.container_panel {
  @extend %none_mar;
  @media(min-width:600px) {
    left: 40px;
  }
  position: absolute;
  top: 161px;
  left: 20px;
  width: 237px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0px 10px 0px;
  border: 1px solid silver;
  border-radius: 0px 0px 5px 5px;
  header h3 {
    @extend %none_mar;
    @extend %flex_row;
    padding: 0px 10px;
    font-size: 16px;
    color: $text_color;
    font-weight: 300;
    text-align: center;
  }
  article {
    text-align: center;
    margin: 15px 0px;
    svg {
      height: 250px;
      .prov {
        fill: white;
        stroke: #A5A7AA;
        stroke-width: 0.5;
      }
      .provhover:hover {
        stroke-width: 2;
        cursor: pointer;
      }
    }
  }
  footer {
    @extend %flex_colum;
    border-top: 1px solid silver;
    padding: 10px 30px;
    text-align: center;
    font-size: 12px;
    color: $text_color;
    font-weight: normal;
    aside {
      @extend %none_pad_mar;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 150px;
      margin-top: 15px;
      svg {
        width: 20px;
        fill: silver;
        &:hover {
          fill: $text_color;
        }
      }
    }
  }
}
.tooltip {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    opacity: 1;
    z-index: 50;
    .contentTooltip {
      @extend %flex_colum;
      @extend %none_mar;
      background-color: black;
      position: relative;
      top: -10px;
      left: 10px;
      padding: 10px;
      border-radius: 5px;
      section {
        font-family: 'Roboto';
        font-size: 1.2rem;
      }
    }
  }


.mapboxgl-ctrl-geocoder {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}



.icon_tooltip {
  width: 12px;
  height: 12px;
}
.textWhite {
  color: white;
}

// Buscador
.mapboxgl-ctrl-top-left {
  @media(min-width:600px) {
    left: 20px;
  }
  top: 102px;
  left: 0px;
}

// Lupa
#lupa {
  position: absolute;
  right: 10px;
  &:hover {
    background-color: transparent;
  }
}
.mapboxgl-ctrl-geocoder .geocoder-icon-search {
  position: relative;
  top: 0px;
  left: 0px;
}




// @media(min-width:415px){
// }
// @media(min-width:600px){
// }
// @media(min-width:900px){
// }
// @media(min-width:1200px){
// }
// @media(min-width:1400px){
// }
