@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.container_panel footer, .tooltip .contentTooltip, .header_container .nav_map div, .container_panel header h3 {
  display: flex;
  justify-content: center;
  align-items: center; }

.container_panel footer, .tooltip .contentTooltip {
  flex-direction: column; }

.header_container .nav_map div, .container_panel header h3 {
  flex-direction: row; }

html body, .contenido_app, .header_container .nav_map div h1, .header_container .nav_map div .scale_graphic svg, .container_panel footer aside {
  padding: 0px; }

html body, .contenido_app, .header_container .nav_map div h1, .header_container .nav_map div .scale_graphic svg, .container_panel footer aside, .header_container .nav_gob, .header_container .nav_map, .container_panel, .container_panel header h3, .tooltip .contentTooltip {
  margin: 0px; }

.header_container .nav_gob, .header_container .nav_map {
  background-color: white;
  box-shadow: 0px 0px 5px silver;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px; }
  @media (min-width: 600px) {
    .header_container .nav_gob, .header_container .nav_map {
      padding: 10px 40px; } }

/* Generales */
html {
  font-size: 10px;
  font-family: 'Roboto', Arial; }
  @media (min-width: 415px) {
    html {
      font-size: 12px; } }
  @media (min-width: 600px) {
    html {
      font-size: 13px; } }
  @media (min-width: 900px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 15px; } }
  @media (min-width: 1400px) {
    html {
      font-size: 16px; } }

input:focus, button:focus {
  outline: none; }

a, a:hover, a:focus {
  text-decoration: none;
  color: #333333; }

sup {
  vertical-align: super;
  font-size: 0.9rem; }

.contenido_app {
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

.header_container {
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: 10; }
  .header_container .nav_gob {
    justify-content: flex-start;
    z-index: 30; }
    .header_container .nav_gob svg {
      height: 35px; }
  .header_container .nav_map {
    justify-content: space-between;
    z-index: 20;
    display: none; }
    @media (min-width: 600px) {
      .header_container .nav_map {
        display: flex; } }
    .header_container .nav_map div h1 {
      font-size: 1.5rem;
      color: #5D5D5D; }
    .header_container .nav_map div .scale_graphic svg {
      height: 25px;
      font-size: 12px;
      fill: #5D5D5D; }

#map {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100vw; }
  #map div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    margin: 0px;
    padding: 0px;
    top: 20px;
    left: 20px;
    box-shadow: none; }
    #map div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div div button {
      display: none; }
    #map div.mapboxgl-control-container > div.mapboxgl-ctrl-top-left > div input[type="text"] {
      width: 200px;
      border-radius: 5px 0px 0px 0px;
      border: 1px solid silver;
      background: white;
      padding: 10px 40px 10px 10px; }

#panel_show {
  position: absolute;
  top: 122px;
  left: 219px;
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid silver;
  margin: 0px;
  padding: 0px;
  border-radius: 0px 5px 0px 0px; }
  @media (min-width: 600px) {
    #panel_show {
      left: 239px; } }
  #panel_show svg {
    width: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }

.container_panel {
  position: absolute;
  top: 161px;
  left: 20px;
  width: 237px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0px 10px 0px;
  border: 1px solid silver;
  border-radius: 0px 0px 5px 5px; }
  @media (min-width: 600px) {
    .container_panel {
      left: 40px; } }
  .container_panel header h3 {
    padding: 0px 10px;
    font-size: 16px;
    color: #5D5D5D;
    font-weight: 300;
    text-align: center; }
  .container_panel article {
    text-align: center;
    margin: 15px 0px; }
    .container_panel article svg {
      height: 250px; }
      .container_panel article svg .prov {
        fill: white;
        stroke: #A5A7AA;
        stroke-width: 0.5; }
      .container_panel article svg .provhover:hover {
        stroke-width: 2;
        cursor: pointer; }
  .container_panel footer {
    border-top: 1px solid silver;
    padding: 10px 30px;
    text-align: center;
    font-size: 12px;
    color: #5D5D5D;
    font-weight: normal; }
    .container_panel footer aside {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 150px;
      margin-top: 15px; }
      .container_panel footer aside svg {
        width: 20px;
        fill: silver; }
        .container_panel footer aside svg:hover {
          fill: #5D5D5D; }

.tooltip {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  opacity: 1;
  z-index: 50; }
  .tooltip .contentTooltip {
    background-color: black;
    position: relative;
    top: -10px;
    left: 10px;
    padding: 10px;
    border-radius: 5px; }
    .tooltip .contentTooltip section {
      font-family: 'Roboto';
      font-size: 1.2rem; }

.mapboxgl-ctrl-geocoder {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

.icon_tooltip {
  width: 12px;
  height: 12px; }

.textWhite {
  color: white; }

.mapboxgl-ctrl-top-left {
  top: 102px;
  left: 0px; }
  @media (min-width: 600px) {
    .mapboxgl-ctrl-top-left {
      left: 20px; } }

#lupa {
  position: absolute;
  right: 10px; }
  #lupa:hover {
    background-color: transparent; }

.mapboxgl-ctrl-geocoder .geocoder-icon-search {
  position: relative;
  top: 0px;
  left: 0px; }

/*# sourceMappingURL=style.css.map */
