@import "start";

/* Variables*/
$primary_color: white;
$light_color: darken($primary_color, 50%);
$dark_color: darken($light_color, 50%);
$accent_color: #0695d6;
$icon_text: white;

%header {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}


#productName {
  // position: absolute;
  // top: 72px;
  // width: 100%;
  z-index: 700;
  background-color: white;
  // box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  position: fixed;
  top: 72px;
  left: 0px;
  width: 100%;

  @media screen and (min-width: 768px) {
      height: 72px;
  }

  .header_desktop {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
    }
    .h2 {
      margin: 0;
      color: $dark_color;
      font-size: 1.5rem;
      font-weight: 500;
      padding: 15px 0px;
      text-transform: uppercase;
      color: #767676;

      @media screen and (min-width: 768px) {
          font-size: 1.65rem;
      }
      @media screen and (min-width: 900px) {
          font-size: 1.85rem;
      }
      @media screen and (min-width: 1280px) {
          font-size: 2rem;
        }
    }
    .h3 {
      margin: 0 0 0 20px;
      padding: 0 10px;
      color: #767676;
      border-left: 1px solid silver;
      font-size: 1.5rem;
      font-weight: 300;
      display: none;

      @media screen and (min-width: 768px) {
          font-size: 1.65rem;
          display: inherit;
      }
      @media screen and (min-width: 900px) {
          font-size: 1.85rem;
      }
      @media screen and (min-width: 1280px) {
          font-size: 2rem;
      }
    }
    & > a {
        color: #0695d6;
        text-decoration: none;
        padding-right: 10px;
        font-size: 17px;

        &:hover {
          color: #17b2f8;
        }
      }
  }
  .header_mobile {
      @extend %header;
      z-index: 30;
      height: 40px;
      padding: 0;
      border: 0;
      background-color: transparent;

      @media screen and (min-width: 768px) {
          display: none;
      }

      & > button {
          height: 100%;
          margin: 0;
          padding: 0 10px;
          cursor: pointer;
          color: $light_color;
          border: 0;
          background-color: transparent;
          // text-transform: uppercase;
          font-size: 13px;
          width: 33%;
          border-bottom: 3px solid white;
          border-radius: 0;
      }

      .accent_button {
          color: $accent_color;
          font-weight: 500;
          border-bottom: 3px solid $accent_color;
          border-radius: 0;
      }
  }
}

// Header and Footer
$navHeight: 72px;

.cargando {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > span {
    margin-top: 10px;
  }
}
.containerBody {
  height: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 768px) {
      padding-top: 144px;
  }
  @media screen and (min-width: 900px) {
      padding-top: 144px;
  }
  @media screen and (min-width: 1280px) {
      padding-top: 144px;
  }
}

// Contenedor con margenes ajustables
.containerResponsive {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;

    @media screen and (min-width: 768px) {
        width: 750px;
    }
    @media screen and (min-width: 992px) {
        width: 970px;
    }
}

%content {
    position: absolute;
    bottom: 0;
    border: 0;
    width: 100%;
}
/* Generales */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary_color;
    font-weight: 500;
    padding: 0;
    margin: 20px 0;
    text-align: left;
}

h1,
h2,
h3 {
    font-size: 2rem;
}

h4,
h5,
h6 {
    font-size: 1.5rem;
}

p {
    margin: 0;
    padding: 0;
    color: $primary_color;
    font-size: 1.25rem;
    font-weight: 200;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 5px 30px;
    color: $dark_color;
    background-color: $primary_color;
    font-size: 1.25rem;
    font-weight: 500;
    border: 0;
}

body,
html {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial;
    font-size: 12px;
    background-color: #DCE0E5;
    @media screen and (min-width: 768px) {
        font-size: 13px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 14px;
    }
}
/* Header */
.header_app {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header_cr {
    z-index: 50;
    padding: 10px;
    box-shadow: 0 0 3px gray;
    @extend %header;

    & > svg {
        height: 25px;
        @media screen and (min-width: 768px) {
            height: 35px;
        }
    }

    & > a {
        display: none;
        color: $light_color;

        &:hover {
            color: $dark_color;
        }
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
    @media screen and (min-width: 768px) {
        padding: 10px 40px;
    }
}

.header_map {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    & > div {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      flex-direction: row;

      & > .h2 {
          margin: 0;
          color: $dark_color;
          font-size: 1.5rem;
          font-weight: 400;
          padding: 15px 0px;

          @media screen and (min-width: 768px) {
              font-size: 1.7rem;
          }
          @media screen and (min-width: 900px) {
              font-size: 2rem;
          }
          @media screen and (min-width: 1280px) {
              font-size: 2.5rem;
          }
      }
      & > .h3 {
          margin: 0 0 0 20px;
          padding: 0 10px;
          color: $light_color;
          border-left: 1px solid silver;
          font-size: 1rem;
          font-weight: 400;
          display: none;
          @media screen and (min-width: 768px) {
              font-size: 0.9rem;
              display: inherit;
          }
          @media screen and (min-width: 900px) {
              font-size: 1rem;
          }
          @media screen and (min-width: 1280px) {
              font-size: 1.25rem;
          }
      }
    }
    & > a {
        color: #0695d6;
        text-decoration: none;
        padding-right: 10px;

        &:hover {
          color: #17b2f8;
        }
      }
}

.header_mobile {
    @extend %header;
    z-index: 30;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }

    & > button {
        height: 100%;
        margin: 0;
        padding: 0 10px;
        cursor: pointer;
        color: $light_color;
        border: 0;
        background-color: transparent;
        // text-transform: uppercase;
        font-size: 13px;
        width: 33%;
        border-bottom: 3px solid white;
        border-radius: 0;
    }

    .accent_button {
        color: $accent_color;
        font-weight: 500;
        border-bottom: 3px solid $accent_color;
        border-radius: 0;
    }
}
/* Secciones Mobile */
$margin: 15px;
$max_width: 500px;
$line_height: 1.5;

.section_mobile {
    height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 145px 40px 20px;
    background-color: rgba(0, 0, 0, 0.75);
    @extend %content;
    align-items: center;
    justify-content: center;
}

#inicio {
    z-index: 8;

    & > h3 {
        max-width: $max_width;
        line-height: 1.4;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        margin: 0;
        text-align: center;
        @media screen and (min-width: 768px) {
            max-width: 600px;
        }
    }

    & > p {
        max-width: $max_width;
        line-height: $line_height;
        text-align: center;
        margin: 20px 0 40px;
        font-weight: 400;
        @media screen and (min-width: 768px) {
            max-width: 600px;
        }
    }

    & > button {
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-size: 1rem;
        border-radius: 30px;
        font-weight: 400;

        &:hover {
            background-color: white;
            color: $light_color;
        }
    }
}

#explorar {}

#compartir {
    z-index: 8;

    & > h3 {
        line-height: 1.4;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        max-width: 250px;
        margin: 0 0 20px;
    }

    .social_icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 150px;
        margin: 0;
        padding: 20px 0 0;
        justify-content: space-between;
        align-items: center;
        fill: $icon_text;

        & > svg {
            height: 30px;
        }
    }
}

#acercaDe {
    z-index: 8;

    & > p {
        max-width: $max_width;
        margin: 10px 0;
        line-height: $line_height;
        text-align: center;
        font-weight: 400;

        &:nth-child(1) {
            margin: 0 0 10px;
        }

        &:nth-child(4) {
            margin: 10px 0 0;
        }
    }

    & > button {
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        font-size: 1rem;
        border-radius: 30px;
        margin: 40px 0 0;
        font-weight: 400;

        a {
          color: white;
        }

        &:hover {
            background-color: white;

            a {
              color: $light_color;
            }
        }
    }
}
/* Tooltip */
#tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999999;
    display: none;
    opacity: 1;
    margin: 0;
    padding: 0;
    color: $primary_color;

    & > svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
    }
}

#contentTooltip {
    position: relative;
    top: 10px;
    left: 10px;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: black;

    & > section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        font-size: 12px;
        justify-content: center;
        align-items: flex-start;

        & > article {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            padding: 0;
            justify-content: center;
            align-items: flex-start;

            &:last-child {
                margin-bottom: 0;
            }

            & > svg {
                width: 12px;
                height: 12px;
                margin-right: 5px;
            }
        }
    }
}
/* Mapa */
#map {
    @extend %content;
    padding-top: 112px;
    height: 100%;
    box-sizing: border-box;
    left: 0px;

    @media screen and (min-width: 768px) {
        padding-top: 144px;
    }
    @media screen and (min-width: 900px) {
        padding-top: 144px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 144px;
    }
}

#escala {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 5;
    background: white;
    padding: 5px;
    border-radius: 5px;
    @media screen and (min-width: 768px) {
        left: 40px;
    }

    & > svg {
        width: 185px;
    }
}
/* Buscador */
.mapboxgl-ctrl-top-left {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    padding: 10px 10px 100%;
    @media screen and (min-width: 768px) {
        max-width: 260px;
        padding: 20px 10px 100% 40px;
    }

    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 768px) {
            box-shadow: none;
        }

        input[type="text"] {
            width: 100%;
            margin: 0;
            padding: 10px 10px 10px 40px;
            border: 0;
            border-right: none;
            border-radius: 0;
            border-bottom: 1px solid silver;
            background: white;
            font-size: 14px;
            font-weight: 700;
            @media screen and (min-width: 768px) {
                box-shadow: none;
            }
        }
    }
}

#button_pannel {
    position: absolute;
    z-index: 7;
    top: 20px;
    left: 250px;
    display: none;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.92);
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;

    @media screen and (min-width: 768px) {
        display: flex;
    }

    & > svg {
        margin: auto;
        width: 20px;
        transition: 0.2s ease-in-out;
    }
}

.container_panel {
    position: absolute;
    top: 122px;
    left: 40px;
    display: none;
    width: 250px;
    margin: 0;
    padding: 40px 0 0;
    border: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        display: block;
    }

    & > header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > h3 {
            // text-transform: uppercase;
            line-height: 1.3;
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            width: 100%;
            margin: 20px 0 10px;
            padding: 0 20px;
            color: #767676;
            font-size: 1.2rem;
            font-weight: 400;
            justify-content: center;
            align-items: center;
        }
    }
    & > article {
        margin: 10px 0 20px;
        text-align: center;

        & > svg {
            height: 280px;

            .prov {
                fill: white;
                stroke: $dark_color;
                stroke-width: 0.5;
            }

            .provhover:hover {
                cursor: pointer;
                stroke-width: 2;
            }
        }
    }
    & > footer {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        border-top: 1px solid silver;
        justify-content: center;
        align-items: center;

        & > h3 {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            width: 100%;
            margin: 10px 0 20px;
            padding: 0 40px 0 0;
            line-height: 1.25;
            color: $dark_color;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 400;
            justify-content: center;
            align-items: center;
        }

        & > aside {
            display: flex;
            flex-direction: row;
            width: 115px;
            margin: 0 0 20px;
            padding: 0;
            justify-content: space-around;
            align-items: center;
        }
    }
}

%icon {
    width: 1rem;
    margin-right: 2px;
}

button:focus,
input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
    font-size: smaller;
}
.sup {
    vertical-align: text-top;
    font-size: x-small;
}
/* MapBox Escala*/
.mapboxgl-ctrl-bottom-left {
    right: 50px;
    bottom: 10px;
    left: initial;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    display: flex;
    height: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}
/* SVG style*/
.areaIconSvg {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.textWhite {
    color: white;
    font-weight: bold;
}

.section_mobile {
    .social_icons {
        margin-bottom: 20px;

        & > i {
            font-size: 30px;
            cursor: pointer;
            color: gray;

            &:nth-child(2) {
                margin: 0 10px;
            }

            &:hover {
                color: silver;
            }
        }
    }
}

.social_icons {
    margin-bottom: 20px;

    & > i {
        font-size: 30px;
        cursor: pointer;
        color: gray;

        &:nth-child(2) {
            margin: 0 10px;
        }

        &:hover {
            color: black;
        }
    }
}
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl input {
  font-size: 16px !important;
  color: #767676 !important;
}
.fuente {
  font-size: 12px;
}
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0695d6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
